<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>nav}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left header -->
                    <div class="col-md-5 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about1.png" alt="about" class="img-fluid" title="masteroot_weather">
                        </figure>
                    </div>
                    <!-- right header -->
                    <div class="col-md-7 col-12 main_header_left">
                        <p> Wanna know how this project is done ?</p>
                        <h1>This Project is done using <span style="color:blue"> NodeJs</span>. A popular backend language.</h1>
                        <a href="/code"> <button> Get Code </button> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>